<template name="messagePage">
  <div class="input-group">
        <input type="text" id="userComment" class="form-control input-sm chat-input" placeholder="Write your message here..." />
	    <span class="input-group-btn" onclick="addComment()">     
            <a href="#" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-comment"></span> Add Comment</a>
        </span>
    </div>
  <ul class="list-unstyled ui-sortable">
   {{#each messagePageItems}}
      {{> messagePageItem}}
    {{/each}}
  </ul>
</template>