<template name="appBody">
  <div id="container" class="{{menuOpen}} {{cordova}}">
    <section id="menu">
      {{#if currentUser}}
        <div class="btns-group-vertical">
          <a href="#" class="js-user-menu btn-secondary">
            {{emailLocalPart}}
          </a>
          <a class="js-logout btn-secondary">Logout</a>
        </div>
        <div class="list-todos">
          <a class="js-new-list link-list-new" href="{{pathFor 'messagesList'}}">My Messages</a>
          <a class="js-new-list link-list-new" href="{{pathFor 'friendsList'}}">Friends</a>
        </div>
      {{else}}
        <div class="btns-group">
          <a href="{{pathFor 'signin'}}" class="btn-secondary">Sign In</a>
          <a href="{{pathFor 'join'}}" class="btn-secondary">Join</a>
        </div>
      {{/if}}
    </section>

    {{#unless connected}}
      <div class="notifications">
        <div class="notification">
          <span class="icon-sync"></span>
          <div class="meta">
            <div class="title-notification">Trying to connect</div>
            <div class="description">There seems to be a connection issue</div>
          </div>
        </div>
      </div>
    {{/unless}}

    <div class="content-overlay"></div>
    
    <div id="content-container">
      {{#each thisArray}}
        {{> yield}}
      {{/each}}
    </div>
  </div>
</template>